body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0ea6a6;
  color: white;
  text-align: center;
}

.navbar {
  background: white;
  padding: 18px 0;
  border-bottom: 3px solid #008080;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 120px; 
  padding: 0;
  margin: 0;
}
.navbar li {
  font-size: 28px;
  font-weight: 600;
}
.navbar a {
  text-decoration: none;
  color: #008080;
  padding: 0 10px;     
  border-radius: 0;
  transition: 0.3s;
}
.navbar a:hover {
  color: #004f4f;       
}
.navbar .active {
  border-bottom: 3px solid #008080;
  padding-bottom: 5px;
}
.hero {
  width: 100vw;       
  margin: 0;
  padding: 60px 0 40px;
  background-color: #0ea6a6;


  background-image: url("paner.jpg");
  background-repeat: repeat;
  background-size: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}
}
 .title-img {
width: 55%;
  max-width: 550px;
  display: block;
  margin: 0 auto 30px auto;
}


.book-btn {
  background: white;
  color: #008080;
  padding: 18px 50px;
  border: none;
  border-radius: 40px;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.description {
  margin-top: 40px;
  font-size: 19px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7;
  font-weight: 500;
}

.products-section {
  background: #00A099;
  padding: 40px 20px;
  text-align: center;
  color: white;
}

.products-title {
  font-size: 32px;
  margin-bottom: 30px;
}


.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}


.product-card {
  width: 260px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  height: 430px;
  color: black;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
  background: white;
}

.product-card h3 {
  font-size: 16px;
  margin: 15px 0;
  height: 55px;
  overflow: hidden;
}

.product-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.product-btn:hover {
  background: #333;
}

.Services {
  background-color: #1C9F98;
  padding: 35px 20px 40px;
  font-family: "Cairo", sans-serif;
  font-weight: 500;
  font-style: normal;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.Services header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 50px;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}


.Services header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 300px);
  font-size: 28px;
  color: #1C9F98;
  padding: 0;
  margin: 0;
}

.Services header ul li a {
  text-decoration: none;
  color: #1C9F98;
}


.Services header ul li.active a {
  background-color: #1C9F98;
  color: #ffffff;
  padding: 0 10px;
  border-radius: 30px;
}


.Services .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 10px;
}

.Services .container .logo .logo-img {
  width: 200px;
}


.Services .image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.Services .menu {
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 25px;
}


.Services .menu .serv {
  display: grid;
  grid-template-columns: 3fr 1fr;  
  grid-template-rows: auto auto;    
  text-align: left;
  padding: 10px 20px;
  margin-bottom: 5px;
}


.Services .menu .serv .top {
  font-size: 22px;
  color: #ffffff;
  grid-column: 1 / 2;
}


.Services .menu .serv .bot {
  font-size: 18px;
  color: #2c4755;
  grid-column: 1 / 2;
}


.Services .menu .tax {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  color: #2c4755;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}


.booking-section {
  background-color: #00A099;
  min-height: 70vh;
  padding: 40px 20px 60px;
  color: white;
  text-align: center;
}

.booking-title {
  font-size: 32px;
  margin-bottom: 30px;
}

.booking-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  text-align: left;
}

.booking-container h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.booking-container input,
.booking-container textarea {
  width: 90%;
  padding: 15px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  background-color: white;
  box-sizing: border-box;
}

.booking-container textarea {
  height: 100px;
}

.notes-full {
  grid-column: span 2;
  text-align: center;
}

.notes-full textarea {
  width: 70%;
}

.submit-btn {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.booking-submit-btn {
  background-color: white;
  color: #00A099;
  font-size: 28px;
  padding: 15px 50px;
  border-radius: 50px;
  border: 3px solid black;
  cursor: pointer;
  font-family: Georgia, serif;
}

.booking-submit-btn:hover {
  opacity: 0.9;
}

