body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0ea6a6;
  color: white;
  text-align: center;
}

.navbar {
  background: white;
  padding: 18px 0;
  border-bottom: 3px solid #008080;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 120px; 
  padding: 0;
  margin: 0;
}
.navbar li {
  font-size: 28px;
  font-weight: 600;
}
.navbar a {
  text-decoration: none;
  color: #008080;
  padding: 0 10px;     
  border-radius: 0;
  transition: 0.3s;
}
.navbar a:hover {
  color: #004f4f;       
}
.navbar .active {
  border-bottom: 3px solid #008080;
  padding-bottom: 5px;
}
.hero {
  padding: 60px 20px;
  background-color: #0ea6a6;
  background-repeat: repeat;
  background-size: 350px;
  text-align: center;
}
 .title-img {
width: 100%;
  max-width: 700px;
  display: block;
  margin: 0 auto 30px auto;
  filter: drop-shadow(3px 5px 4px rgba(0,0,0,0.3));
}


.book-btn {
  background: white;
  color: #008080;
  padding: 18px 50px;
  border: none;
  border-radius: 40px;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.description {
  margin-top: 40px;
  font-size: 19px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7;
  font-weight: 500;
}

.products-section {
  background: #00A099;
  padding: 40px 20px;
  text-align: center;
  color: white;
}

.products-title {
  font-size: 32px;
  margin-bottom: 30px;
}


.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}


.product-card {
  width: 260px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  height: 430px;
  color: black;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
  background: white;
}

.product-card h3 {
  font-size: 16px;
  margin: 15px 0;
  height: 55px;
  overflow: hidden;
}

.product-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.product-btn:hover {
  background: #333;
}
