body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0ea6a6;
  color: white;
  text-align: center;
}

.navbar {
  background: white;
  padding: 18px 0;
  border-bottom: 3px solid #008080;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 120px; 
  padding: 0;
  margin: 0;
}
.navbar li {
  font-size: 28px;
  font-weight: 600;
}
.navbar a {
  text-decoration: none;
  color: #008080;
  padding: 0 10px;     
  border-radius: 0;
  transition: 0.3s;
}
.navbar a:hover {
  color: #004f4f;       
}
.navbar .active {
  border-bottom: 3px solid #008080;
  padding-bottom: 5px;
}
.hero {
  padding: 60px 20px;
  background-color: #0ea6a6;
  background-repeat: repeat;
  background-size: 350px;
  text-align: center;
}
 .title-img {
width: 65%;
  max-width: 700px;
  display: block;
  margin: 0 auto 30px auto;
  filter: drop-shadow(3px 5px 4px rgba(0,0,0,0.3));
}


.book-btn {
  background: white;
  color: #008080;
  padding: 18px 50px;
  border: none;
  border-radius: 40px;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.description {
  margin-top: 40px;
  font-size: 19px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7;
  font-weight: 500;
}
