body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0ea6a6;
  color: white;
  text-align: center;
}

.navbar {
  background: white;
  padding: 20px 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 0;
  margin: 0;
}

.navbar li {
  font-size: 30px;
  color: #008080;
  font-weight: 500;
  cursor: pointer;
}

.navbar li.active {
  background: #008080;
  color: white;
  padding: 10px 40px;
  border-radius: 50px;
}

.hero {
  padding: 60px 20px;
  background-color: #0ea6a6;
  background-repeat: repeat;
  background-size: 350px;
  text-align: center;
}

.title-img {
  width: 55%;
  max-width: 600px;
  display: block;
  margin: 0 auto 30px auto;
}

.book-btn {
  background: white;
  color: #008080;
  padding: 15px 40px;
  border: none;
  border-radius: 40px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.description {
  margin-top: 40px;
  font-size: 18px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}
body {
margin: 0;
padding: 0;
font-family: Arial;
background: #00A099;
}

/* Navbar */
.navbar {
width: 100%;
background: #018A8E;
padding: 15px;
display: flex;
justify-content: center;
gap: 40px;
}

.navbar a {
color: white;
text-decoration: none;
font-size: 18px;
font-weight: bold;
}

.title {
text-align: center;
font-size: 32px;
margin: 30px 0;
color: white;
}

/* Products Grid */
.products {
display: flex;
flex-wrap: wrap;
gap: 25px;
justify-content: center;
}

/* Product Card */
.product-card {
width: 260px;
background: white;
padding: 15px;
border-radius: 12px;
text-align: center;
box-shadow: 0 3px 12px rgba(0,0,0,0.15);
height: 430px;
}

.product-card img {
width: 100%;
height: 200px;
object-fit: contain;
border-radius: 10px;
background: white;
}

.product-card h3 {
font-size: 16px;
margin: 15px 0;
height: 55px;
overflow: hidden;
}

button {
width: 100%;
padding: 12px;
background: black;
color: white;
border: none;
font-size: 15px;
border-radius: 8px;
cursor: pointer;
margin-top: 10px;
transition: 0.2s;
}

button:hover {
background: #333;
}
